{% extends 'email/base_email.html.twig' %}

{% block subject %}Your email is confirmed!{% endblock %}

{% block content %}
    <p>Hello <strong>{{ user.email|e }}</strong>,</p>

    <p>Your email has been successfully validated. Welcome to your application!</p>

    <p>If you did not request this registration, you can safely ignore this email.</p>

    <p>Best regards,<br>The Team</p>
{% endblock %}
