{% extends 'email/base_email.html.twig' %}

{% block subject %}Your password has been successfully updated{% endblock %}

{% block content %}
    <p>Hello <strong>{{ user.email|e }}</strong>,</p>

    <p>This is a confirmation that your password has been successfully updated.</p>

    <p>If you did not perform this action, we strongly recommend updating your password immediately or contacting support.</p>

    <p>Best regards,<br>The Team</p>
{% endblock %}
